[alias]
  a = add
  s = status
  ds = diff --staged
  l = log --all --decorate --oneline --graph
  d = diff
  c = commit

[user]
  email = pawel@wenda.eu
  name = Pawel Wenda
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICwmhfA/Q0IhQFo48wF34Fe7CzXJV0MkwbODkG0+s/u3

[gpg]
  format = ssh

[gpg "ssh"]
  program = "ssh-keygen"
	; allowedSignersFile = ~/.config/git/allowed_signers
	;
[commit]
  gpgsign = true


